. .. .git

### SVN ###
.svn/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# squashfs compiled binaries
mksquashfs
mksquashfs-lzma

# Firmware images (may contain non-free-licensed software)
*.squashfs
*.bin
squashfs-root/
32C10*
1370*

